#book-form {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-repeat:round;
background-size: contain;
transition: background 0.5s ease;
/* You can set a default background image here */
background-image: url(img/header2.jpg);
}

.reservation-container {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 400px;
opacity: 80%;
}

#book-form h2 {
text-align: center;
color: #333;
}

form {
display: flex;
flex-direction: column;
max-width: 400px;
margin: 0 auto;
}

#book-form label {
margin-top: 10px;
}

input,
select {
padding: 8px;
margin-top: 5px;
}

button {
background-color: orangered;
color: #fff;
padding: 10px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #af5632;
}
